<ion-view class="login-container">
    <ion-content scroll="false">
        <section  >
            <div class = "col header text-center">
               <img src="./img/ionic.png" class = "logo" />
            </div>
            <div class = "col button-row text-center">
               <img src="./img/facebook-button.png" />
            </div>
            <div class = "col button-row text-center">
               <img src="./img/email-button.png" />
            </div>
            <div class = "col text-center">
                Already have an account? <strong><a href = "#">Sign in now!</a></strong>
            </div>            
        </section>
    </ion-content>
</ion-view>
    
    
  <!--ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-top">
        <h1 class="app-logo">logo</h1>
        <p class="app-tagline">
            This app helps you discover and buy amazing things all in one place.
          </p>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">
          Log in with Facebook
        </a>
      </div>
    </div>
  </ion-content>
</ion-view-->
