<ion-view view-title="Profile" hide-tabs> 
  <ion-nav-buttons side="right">
	<div > 
	<md-button class="md-icon-button" on-tap="update()" aria-label="save song" >
		<i class="mdi mdi-check center" ></i>
	</md-button>
	</div>
  </ion-nav-buttons>	


  
 <ion-content has-header="true"  overflow-scroll ="true">
     <div class="profile-bg"></div>
      <div class="profile-content">
        <div class="profile-info">
          <img ng-src="{{user.picture}}" class="profile-image" on-hold="openPictureOptions()" />
          <h3 class="profile-name">{{user.displayName}}</h3>
          <span class="profile-description">{{user.profile.about}} <i class="ion-edit button button-icon button-small" on-tap="showPopup()"></i></span>
          <br/>
            <!--spotify-->
            <span class="profile-description" data-ng-show="!isConnectedSocialAccount('spotify')" on-tap="connectSpotify()">Connect Spotify</span>
            <span class="profile-description" data-ng-show="isConnectedSocialAccount('spotify')" on-tap="disconnectSpotify()">Disconect Spotify</span>
					
					
					<!--li data-ng-show="isConnectedSocialAccount('spotify')"  >
						<a  data-on-tap="removeUserSocialAccount('spotify')" data-ng-controller="SettingsController">Disconect Spotify</a>
					</li-->	
					
					<!--spotify-->
          
        </div>
    </div>

<div class="list">

    <div class="item item-divider">Musical profie   <i class="ion-checkmark button button-icon button-small" on-tap="updateProfile()"></i></div>
    
        <div class="item"> 
            <md-input-container class="md-block">
                <label>Instrument</label>
                <md-select  ng-model="user.profile.instrument">
                <md-option aria-label="Instrument" ng-repeat="instrument in instrumentList" value="{{instrument.code}}">{{instrument.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Experience</label>
                <input ng-model="user.profile.experience">
            </md-input-container>
            <md-chips ng-model="user.profile.styles" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" placeholder="Enter a style"></md-chips>    
            <md-chips ng-model="user.profile.influencies" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" placeholder="Enter an influence"></md-chips>
        </div>        
   
    <div class="item item-divider">Channels   <i class="ion-checkmark button button-icon button-small" on-tap="addChannel()"></i></div>

       
    <ion-list ng-repeat="channel in user.channels">
       
        
        <div class="item item-icon-left item-icon-right">    <i class="icon ion-chatbubble-working"></i> {{channel.name}}<i class="icon ion-ios-telephone-outline" on-tap="removeChannel($index)"></i></div>
    </ion-list>
    
   
   
      
    <ion-list ng-repeat="band in user.bands">
        <ion-radio class="item item-avatar" ng-model="choice" ng-value="'A'"> <img src="venkman.jpg"><h2>{{band.name}}</h2> <p>Back off, man. I'm a scientist.</p></ion-radio>
    </ion-list>
    
    </ion-content>
</ion-view>
